* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

br {
    clear: both;
}

.sketch-container {
    width: 1100px;
    border-radius: 2em;
    margin: 50px auto;
    padding: 10px 50px;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.sketch-menu {
    width: 25%;
    background-color: wheat;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brush-color {
    border: none;
    padding: 0;
    outline: none;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.brush-color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
.brush-color:hover {
    scale: 1.05;
    transition: .3s ease-out;
}

.sketch-menu {
    padding: 0 10px;
}

.sketch-menu section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sketch-menu button {
    border: 4px solid rgb(0, 136, 255);
    color: rgb(0, 136, 255);
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}

.sketch-menu button:hover {
    filter: opacity(.8);
}

button.active {
    background-color: rgb(0, 136, 255);
    color: white;
}

.sketch-board {
    width: 75%;
    padding: 15px;
    background-color: wheat;
    border-radius: 20px;
}

.x-grid {
    display: flex;
    width: 100%;
    background-color: white;
}


.x-grid div {
    border: .5px solid gray;
    width: 100%;
    aspect-ratio: 1;
    background-color: white;
}