* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.sketch-container {
    width: 1200px;
    border-radius: 3em;
    margin: 0 auto;
    background-color: aqua;
    padding: 10px 50px;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.sketch-menu {
    width: 15%;
}

.sketch-board {
    width: 80%;
}

.x-grid {
    display: flex;
    width: 100%;
}

.x-grid div {
    border: 1px solid gray;
    width: 100%;
    aspect-ratio: 1;
    background-color: white;
}