* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.sketch-container {
    width: 900px;
    border-radius: 3em;
    margin: auto;
    background-color: aqua;
    padding: 20px 50px;
}

.container {
    display: flex;
    gap: 20px;
}

.sketch-board {
    width: 800px;
}

.x-grid {
    display: flex;
    width: 100%;
}

.x-grid div {
    border: 1px solid gray;
    width: 100%;
    aspect-ratio: 1;
    background-color: white;
}